#ifndef SECRETS_H
#define SECRETS_H

// wifi credentials
#define WIFI_SSID   "Wokwi-GUEST"
#define WIFI_PASSWORD ""

// adafruit IO credentials
#define IO_USERNAME "adafruit username"
#define IO_KEY  "adafruit key"

#endif 